.home-2 {
    .footer:after {
        display: none;
    }
}

.footer {
    padding-top: 100px;
    &.rights {
        @media (max-width: 991px) {
            margin-top: 0!important;
        }
    }
}

.footer .rights {
    @media (max-width: 991px) {
        margin-top: 0!important;
    }
}

.footer {
    .fab {
        font-size: 4rem;
        &.fa-linkedin { color: rgb(14, 101, 136); }
        &.fa-behance { color: rgb(230, 97, 21); }
        &.fa-twitter { color: steelblue; }
        &.fa-github { color: rgb(142, 51, 184); }
        &.fa-codepen { color: rgb(216, 162, 47); }
        &:hover {
            opacity: 0.5;
        }
    }
}