@media (max-width: 770px) {
    #js-filters-agency {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .cbp-filter-item {
        width: fit-content;
    }
    .cbp-l-filters-buttonCenter .cbp-filter-item:first-child { margin: auto; }
    .cbp-l-filters-buttonCenter .cbp-filter-item:last-child { margin: auto; }
}

.sub-bnr { min-height: 400px!important; }
.cbp-popup-singlePage .cbp-popup-content {
    @media only screen and (max-width: 360px), (max-height: 600px) {
        margin-top: 0;
    }
}

.portfolio__collection--column {
    // display: flex;
    // flex-flow: column;
    // justify-content: center;
    // align-items: center;
}

.project-info {
    @media (max-width: 770px) { text-align: center; }
    p {
        font-size: 1.5rem!important;
    }
}

.portfolio-details {
    background: none!important;
}